<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>provisioningProfiles</key>
	<dict>
		<key>APPIDS</key>
		<string>NAME</string>
		<key>com.xiamenair.FXMFAPP.vpnextension</key>
		<string>6248d30c-a102-45ae-9dee-d211d0558caa</string>
	</dict>
	<key>method</key>
	<string>PackageMethod</string>
	<key>teamID</key>
	<string>TEAMID</string>
</dict>
</plist>
